<div class="card">
    <div class="card-header text-center">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">

        <div class="container" *ngIf="globalData" class="text-center">

          <h3>Coronavirus Cases:</h3>
          <p>{{globalData.cases | number}}</p>

          <h3>Deaths:</h3>
          <p>{{globalData.deaths | number}}</p>

          <h3>Recovered:</h3>
          <p>{{globalData.recovered | number}}</p>

        </div>

       <h5 class="text-center">Developed by: Sreelekshmi Geetha</h5> 

      </div>
    </div>
  </div>
