<div class="card">
    <div class="card-header text-center">
        {{id | uppercase}}
    </div>
    <br>
    <div class="text-center">
        <img src="./assets/images/coronavirus.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

    <div class="container text-center">
        <h3>Coronavirus Cases:</h3>
        <h5>{{specificCountry.cases | number}}</h5>

        <h3>Deaths:</h3>
        <h5>{{specificCountry.deaths | number}}</h5>

        <h3>Recovered:</h3>
        <h5>{{specificCountry.recovered | number}}</h5>

    </div>

</div>
