<div class="container text-center">

    <div class="card-header">
        {{pageTitle}}
    </div>
    <br>
    <div class="row" class="text-right">
        <label>Search:</label> <input type="text" [(ngModel)]='listFilter'/>
    </div>
    <table class="table table-bordered tableFixHead" border="1">
        <thead>
            <tr>
                <th>Country</th>
                <th>Total Cases</th>
                <th>New Cases</th>
                <th>Total Deaths</th>
                <th>New Deaths</th>
                <th>Total Recovered</th>
                <th>Active Cases</th>
                <th>Serious or Critical</th>
                <th>Total Cases per 1M</th>
                <th>Total Deaths per 1M</th>
                <th>Total Tests</th>
                <th>Total Deaths per 1M</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of filteredCountryWiseData">
                <td><a [routerLink]="['/countries',country.country]">{{country.country}}</a></td>
                <td>{{country.cases |number}}</td>
                <td>{{country.todayCases |number}}</td>
                <td>{{country.deaths |number}}</td>
                <td>{{country.todayDeaths |number}}</td>
                <td>{{country.recovered |number}}</td>
                <td>{{country.active |number}}</td>
                <td>{{country.critical |number}}</td>
                <td>{{country.casesPerOneMillion |number}}</td>
                <td>{{country.deathsPerOneMillion |number}}</td>
                <td>{{country.totalTests |number}}</td>
                <td>{{country.testsPerOneMillion |number}}</td>
            </tr>
        </tbody>
    </table>
    </div>